/* General settings */

@font-face{
    font-family: 'avenir';
    src: url(assets/fonts/avenir.otf) format('opentype')
}

html {
    font-family: 'avenir','arial';
}

body {
    background-color: rgb(33, 37, 43);
    margin: 0;
    padding: 0;
}

/* Navigation header */

#header {
    background-color: rgb(51, 56, 66);
    display: flex;
    flex-direction: row;
    height: 90px;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#header-name {
    width: 40%;
    padding-right: 10px;
    padding-left: 10px;
}

#header-name {
    color: white;
    text-align: center;
}

#header-navigation {
    width: 40%;
    align-content: left;
}

#header-navigation-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-navigation-item, a {
    color: white;
    display: block;
    float: left;
    height: 90px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

.header-navigation-item:hover {
    background-color: rgb(33, 37, 43);
}

.header-navigation-item:active {
    background-color: rgb(33, 37, 43);
} 

#floating-head {
    background-color: white;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(51, 56, 66);
    height: 120px;
    left: 50%;
    object-fit: cover;
    padding: 5;
    position: fixed;
    top: 2%;
    transform: translate(-50%, 0);
    width: 120px;
    z-index: 2;
}

/* Main body */

#main-body-div {
}

.card {
    background-color: white;
    border-color: lightgray;
    border-width: 1px;
    border-radius: 1%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .2);
    height: 80%;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    text-align: center;
    top: 10%;
}

/* Home section */

#home-title {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border: 3px solid white;
    border-radius: 1%;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 50%;
    padding: 20px;
    width: 50%;
}

#home {
    background-image: url(assets/images/back1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#home-details {
    background-color: lightgray;
    height: 100%;
}

/* About me section */

#about-title {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border: 3px solid #f1f1f1;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    padding: 20px;
    width: 50%;
}

#about-card {
    color: rgb(51, 56, 66);
}

#about {
    background-color: lightgray;
    height: 100%;
}

/* Skills section */

#skills-title {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    border: 3px solid #f1f1f1;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    padding: 20px;
    width: 50%;
}

#skills {
    background-image: url(assets/images/back3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
}

#skills-details {
    background-color: lightgray;
    height: 100%;
}

/* Footer */

#footer {
    background-color: rgb(51, 56, 66);
    color: white;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

/* -webkit-filter: blur(4px);
filter: blur(4px); */
